/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: #ffe4b5;
    color: #333;
    padding: 0;
}

/* Header and Footer */
header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #deb887;
    color: white;
}

h1, h2, h3 {
    text-align: center;
    color: #5a2e00;
}

/* Section Styling */
section {
    background: rgb(255, 245, 225);
    padding: 1rem;
    border-radius: 8px;
}

/* Footer Links */
footer a {
    color: black;
    font-weight: bold;
}

.legend img {
    display: block;
    margin: auto;
    border: 3px solid #7b3f00;
    border-radius: 6px;
}

.header-lead {
  color: #5a2e00;
  font-weight: bold;
}